* {
    box-sizing: border-box;
}

html {
    background: #fff;
    font-size: 16px;
    height: 100%;
}

body {
    color: #000;
    background: #333;
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Sans-serif;
    line-height: 1.25;
    font-weight: bold;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 4rem 1fr;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 1rem 0;
}

.header {
    height: 4rem;
    line-height: 4rem;
    display: flex;
    font-size: 2rem;
    position: relative;
    z-index: 5;
    background: #fff;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(58, 34, 8, 0.25);
}

.header__title {
    font-size: 2rem;
    margin: 0;
    padding: 0 1rem;
}

.header__about {
    width: 4rem;
    height: 4rem;
    text-align: center;
    overflow: hidden;
}

.header__about:hover,
.header__about:active {
    color: #fff;
    background: #000;
}

.header__about:before {
    content: "?";
    width: 4rem;
    height: 4rem;
}

.questions {
    position: relative;
    background: url(wood.jpg) center center no-repeat;
    background-size: cover;
}

.card{
  color: #fff;
  background: #000;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  padding: 50px;
  margin: 0;
  border: 20px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(58, 34, 8, 0.25);
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  z-index: 1;
  transition: all .2s ease-in;
  opacity: 1;
}

.card a{
  color: #E81123;
}

::selection { background: transparent; } 

.question{
  cursor: pointer;
}

.again{
  transform: rotate(-2deg);
}

.about {
    color: #fff;
    background: #000;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 4rem 1rem 1rem;
    transition: opacity .2s ease-in;
    display: none;
}

.about.visible {
    opacity: 1;
}

@media all and (max-width: 500px){
  .card{
    font-size: 1.5rem;
    width: 280px;
    height: 280px;
    padding: 25px;
    border: 10px solid #fff;
    border-radius: 5px;
    top: calc(50% - 140px);
    left: calc(50% - 140px);
  }
}