html{
    background: #fff;
    font-size: 16px;
    height: 100%;
}
body{
    color: #444;
    background: #fff;
    font: 1rem normal "Helvetica Neue", Helvetica, Sans-serif;
    margin: 0 auto;
    height: 100%;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;

}
header{
    border-bottom: 1px solid #444;
    line-height: 3rem;
    text-align: center;
    overflow: hidden;
}
h1{
    margin: 0;
    float: left;
    font-size: 1rem;
}
nav{
    float: right;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

a:hover{
    color: #f06;
    border-bottom-color: #f06;
}

.questions{
    height: calc(100% - 8rem);
}

.questions p{
    margin: 0;
    text-align: center;
    font-size: 2rem;

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: none;
}

.questions p:first-child{
    display: block;
}

.controls{
    line-height: 3rem;
    color: #ddd;
    text-align: center;
}

.button{
    padding: 0 2rem;
    line-height: 3rem;
    border-radius: 1.5rem;
    border: none;
}

.prev,
.next{
    float: left;
    background: #ddd;
    color: #444;
}

.prev:hover,
.next:hover{
    background: #f06;
    color: #fff;
}

.prev:active,
.next:active{
    position: relative;
    top: 3px;
}

.next{
    float: right;
}

.about{
    color: #444;
    background: rgba(255,255,255,.9);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.about .container{
    background: #ddd;
    width: 40rem;
    height: 15rem;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 9rem;
}

.about:target{
    display: block;
}

.about p:last-child{
    text-align: center;
}

.start,
.start:hover{
    background: #f06;
    color: #fff;
    display: inline-block;
}

h2{
    margin: 0;
}

@media all and (max-width: 880px){
    body{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 1rem;
        width: 100%;
    }

    .keyboard{
        display: none;
    }
    .questions {
        height: calc(100% - 7rem);
    }
}


@media all and (max-width: 480px){
    .controls .button{
        width: calc(50% - 10px);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        line-height: 3rem;
    }
    .controls .next{
        float: right;
    }

    .controls .button span{
        display: none;
    }

    .keyboard{
        display: none;
    }

    .about{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #111;
        color: #fff;
        overflow: auto;
    }

    .about .container{
        width: auto;
        height: auto;
        background: transparent;
        color: inherit;
        margin: auto;
    }

}
